/* Colors */
:root {
  /* Primary: */
  --blue: hsl(246, 80%, 60%);
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --self-care: hsl(43, 84%, 65%);

  /* Neutral: */
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

/* Custom - Reset: */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  /* Centering Main on Screen */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  display: block;
}

/* Utility */
.bo-rad {
  border-radius: 1.3rem;
}
/* Continer for all cards one Report card and six small cards */
.cards {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
}

/* Big report Card */
/* ------------------------------------------------------------------ */
/* Container for Report Card */
.report {
  background-color: var(--dark-blue);
  max-width: 20rem;
}
/* ------------------------------------------ */
/* Top of the Report Card */
.report__top {
  background-color: var(--blue);
  padding: 1.8rem;
}

.profile-img {
  max-width: 40%;
  border: 5px solid white;
  border-radius: 50%;
}

.report__name {
  margin: 1.8rem 0;
  max-width: 80%;
}
.report__name p {
  color: var(--pale-blue);
}
.report__name h1 {
  color: white;
  font-size: 2.6rem;
  font-weight: 300;
}
/* ------------------------------------------- */
/* Bottom of the Report Card */
.report__bottom {
  padding: 1rem 1.8rem;
  padding-bottom: 0;
}
.report__bottom a {
  color: var(--desaturated-blue);
  padding-top: 1rem;
  font-size: 18px;
}
.report__bottom a:hover {
  color: var(--pale-blue);
}

/* --------------------------------------------*/
/* ------------------------------------------------------------------ */

/* Small Cards */
/* General Small Card Styles */
/*------------------------------------------------------------------ */
/* Conatainer for Small Cards */
.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.8rem;
}
/* -------------------------------------------- */

/* Layout for small card */
.small-card {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}
/* -------------------------------------------- */
/* Dark blue part of small card */
.small-card__content {
  background-color: var(--dark-blue);
  padding: 1rem 1.8rem 0 1.8rem;
  color: var(--pale-blue);
  /* ---------------------------------------- */
  margin-bottom: -0.2rem; /* fixing background color owerflow at the bottom of small card*/
  /* ----------------------------------------- */
  z-index: 100;
}
.small-card__content:hover {
  opacity: 0.9;
}
.small-card__content h2 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 1.4rem;
  z-index: 100;
}

.time {
  font-size: 3rem;
  font-weight: 300;
  margin-right: 4rem;
  padding-bottom: 0.8rem;
}
/* -------------------------------------------- */
/* Icons */
/* Top of a card icon */
.card-icon {
  margin-left: auto;
  margin-right: 0.8rem;
  position: relative;
  top: 14px;
}
/*  Three dots in line with title of the card */
.title-icon {
  display: flex;
  justify-content: space-between;
}

/* -------------------------------------------- */

/* Specific Small Card Styles */
.small-card--work {
  background-color: var(--work);
}
.small-card--play {
  background-color: var(--play);
}
.small-card--study {
  background-color: var(--study);
}
.small-card--exercise {
  background-color: var(--exercise);
}
.small-card--social {
  background-color: var(--social);
}
.small-card--self-care {
  background-color: var(--self-care);
}
/* --------------------------------------------------------------- */
/* media query brakepoints */

/* 1. 1200px */
@media (max-width: 1200px) {
  body {
    align-items: start;
  }

  .bo-rad {
    border-radius: 0.8rem;
  }
  /* Continer for all cards one Report card and six small cards */
  .cards {
    flex-direction: column;
    gap: 1.4rem;
  }

  /* Big report Card */
  /* ------------------------------------------------------------------ */
  /* Container for Report Card */
  .report {
    max-width: 20rem;
    margin-top: 1.4rem;
  }
  /* ------------------------------------------ */
  /* Top of the Report Card */
  .report__top {
    display: flex;
    justify-content: space-around;
    padding: 0.4rem;
  }

  .profile-img {
    max-width: 40%;
    border: none;
    border-radius: 100%;
  }
  .profile-img--small {
    border: 3px solid white;
    border-radius: 50%;
    max-width: 80px;
  }

  .report__name {
    margin: 1.4rem 0;
    max-width: 80%;
  }
  .report__name p {
    font-size: 0.8rem;
  }
  .report__name h1 {
    font-size: 1.2rem;
  }
  /* ------------------------------------------- */
  /* Bottom of the Report Card */
  .report__bottom {
    padding: 1rem 1.4rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
  }
  .report__bottom a {
    padding-top: 0;
    font-size: 1rem;
  }

  /* --------------------------------------------*/
  /* ------------------------------------------------------------------ */

  /* Small Cards */
  /* General Small Card Styles */
  /*------------------------------------------------------------------ */
  /* Conatainer for Small Cards */
  .grid-container {
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.8rem; */
    display: flex;
    flex-direction: column;
  }
  /* -------------------------------------------- */

  /* Layout for small card */
  .small-card {
    display: flex;
    flex-direction: column;
  }
  /* -------------------------------------------- */
  /* Dark blue part of small card */
  .small-card__content {
    padding: 0.8rem 1.4rem 0.8rem 1.4rem;
  }

  .small-card__content h2 {
    font-size: 1rem;
    padding-bottom: 0.4rem;
  }
  .small-card__content p {
    font-size: 1rem;
    display: inline-block;
  }

  .time {
    font-size: 1.6rem;
    font-weight: 300;
    margin-right: auto;
    padding-bottom: 0.8rem;
    padding-right: 2rem;
  }
  /* -------------------------------------------- */
  /* Icons */
  /* Top of a card icon */
  .card-icon {
    max-height: 40px;
    top: 8px;
  }

  /* -------------------------------------------- */

  /* --------------------------------------------------------------- */
}
